@import "tailwindcss/base";
@import "tailwindcss/components";
@import "tailwindcss/utilities";

@layer base {
  :root {
    --font-family: "Source Sans Pro", sans-serif;
    --primary-background-color: #535353;
    --primary-background-hover-color: #dcdfec;
    --primary-background-color-rgb: 83, 83, 83;
    --allgrey-background-color: #f6f7fb;
    --spacing-small: 8px;
    --spacing-medium: 12px;
    --spacing-large: 16px;
    --border-radius-small: 4px;
    --border-radius-medium: 8px;
    --border-radius-large: 16px;
    --border-radius-TR-BL-small: 0 4px 0 8px;
    --border-radius-TR-BL-medium: 0 8px 0 8px;
    --border-radius-TR-BL-large: 0 16px 0 8px;
    --box-shadow-xs: 0px 4px 6px -4px rgba(0, 0, 0, 0.1);
    --layout-border-color: #d0d4e4;
    --topBar-color: #e1eff2;
    --text-rgb: 0, 0, 0;
    --background-rgb: 0, 0, 0;
  }

  @media (prefers-color-scheme: dark) {
    :root {
      --text-rgb: 255, 255, 255;
      --background-rgb: 255, 255, 255;
    }
  }

  tml,
  body,
  #root,
  .app,
  .content {
    font-family: var(--font-family);
    color: rgb(var(--text-rgb));
    background: var(--background-start-rgb);
  }

  body #main {
    font-family: inherit;
    font-weight: var(--font-weight-light);
    line-height: 1.5;
    width: 100%;
    height: 100%;
    overflow: hidden;
  }

  body {
    background-color: #e1eff2;
  }

  div {
    margin: 0;
    padding: 0;
    border: 0;
    font-size: 100%;
    vertical-align: baseline;
  }

  ::-webkit-scrollbar {
    width: 10px;
  }

  /* Track */
  ::-webkit-scrollbar-track {
    background: #e0e0e0;
  }

  /* Handle */
  ::-webkit-scrollbar-thumb {
    background: #888;
  }

  /* Handle on hover */
  ::-webkit-scrollbar-thumb:hover {
    background: #555;
  }
}

@layer utilities {
  .text-balance {
    text-wrap: balance;
  }
}


